	* {
	    margin: 0px;
	    padding: 0px;
	}
	
	ul {
	    list-style: none;
	}
	
	.inputgroup {
	    list-style: none;
	}
	
	.inputgroup li {
	    width: 20%;
	    margin: 0 2%;
	    float: left;
	}
	
	.inputgroup input {
	    width: 100%;
	    text-align: right;
	    height: 24px;
	}
	
	.modal-header {
	    background-color: rgb(230, 230, 255);
	}
	
	.modal-content {
	    width: 327px;
	    margin: auto;
	}
